/* all  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner */
header {
    height:150px;
    background-image: url(img/banner.png);
    background-position: center;
}

#title {
    color:aliceblue;
    text-align: center;
}

#title:hover, #title:focus {
    text-shadow: 1px 0 0 #9c7f4c,0 1px 0 #9c7f4c,-1px 0 0 #9c7f4c,0 -1px 0 #9c7f4c;
}

/* form */
#search-form {
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

select[name="search-option"] {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

input[name="search-bar"]{
    width: 50%;
    height: 26px;
}

input[type="submit"]{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2em;
    padding-right: 2em;
}

#sort-by {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
    flex-direction: al;
}

#drink-box {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

#drink-results {
    display: flex;
    flex-flow: row wrap;
    min-width: 45%;
    max-width: 45%;
}

.drink-card { 
    max-width: 175px;
    border: double;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.drink-image {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
