/* all  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner */
header {
    height:150px;
    background-image: url(img/banner.png);
    background-position: center;
}

#title {
    color:aliceblue;
    text-align: center;
}

#title:hover, #title:focus {
    text-shadow: 1px 0 0 #9c7f4c,0 1px 0 #9c7f4c,-1px 0 0 #9c7f4c,0 -1px 0 #9c7f4c;
}

/* form bar */
#form-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 20px 20px 0 20px;
}

#search-form {
    padding: 15px 0;
    min-width: 500px;
    text-align: center;
    margin-left: 23%;
}

select {
    padding: 3px 18px;
    text-align: center;
}

input[name="search-bar"]{
    width: 50%;
    height: 26px;
}

input[type="submit"]{
    padding: 3px 2em;
}

/* sort bar */
#sort {
    display: flex;
    flex-direction: row;
}

#sort-by {
    width: 200px;
    margin: 10px 0 10px 20px;
}

#showing-results {
    padding: 10px 2%;
}


/* drink results */
#drink-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 5%;
}

#drink-results {
    display: flex;
    flex-flow: row wrap;
    max-width: 50%;
    min-width: 50%;
    padding-top: 30px;
    justify-content: center;
}

.drink-card { 
    max-width: 175px;
    height: 224px;
    border: double;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    background: #1c0028;
}

.drink-image {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.drink-name {
    margin: auto;
    padding: 15px 0;
    color: white;
}

.drink-card:hover, .drink-card:focus {
    background: #fff;
}

.drink-card:hover > p, .drink-card:focus > p {
    text-shadow: none;
    color:#000;
}    

.drink-card:active {
    box-shadow: 15px 15px 10px black;
}

/* selected drink */
#selected-drink {
    max-width: 780px;
    min-width: 45%;
    margin-right: 40px;
}

#selected-name {
    border-bottom:double;
    padding: 15px;
    background-image: linear-gradient(#1c0028, black);
}

#selected-image {   
    height: 400px;
    display: block;
    margin: auto;
    padding: 10px;
}

#selected-name {
    text-align: center;
}

#selected-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    border-top: double;
    border-bottom: double;
    background-image: linear-gradient(#1c0028, black);
    margin-bottom: 30px;
}

#selected-details, #selected-name {
    color: #fff;
    text-shadow:
    2px 0px 0 #000,
    0px 2px 0 #000,
    -2px 0px 0 #000,
    0px -2px 0 #000;
}

.selected-titling {
    margin: 25px 0 0 40px;
}

#selected-ingredients, #selected-instructions {
    margin: 10px 60px 0 60px;
}

/* favorites */
#favorites, #random {
    padding: 3px 13px;
    margin: 15px 15px 0 0;
    height: 35px;
}

#favorites-button {
    display: block;
    margin: 70px auto 55px auto;
    padding: 15px 23px;
    font-size: 105%;
}